/*
***********************
-----------------------
INDEX PAGE STYLE BEGINS
-----------------------
***********************
*/
body {
  margin: 0;
}

 .panels {
  min-height: 100vh;
  display: flex;
}

.panel {
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  background-size: cover;
  background-position: center;
  flex: 1;
} 

.panel1 {
  background-image: url(https://images.unsplash.com/photo-1598305763406-d6044a667a25?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
}
.panel2 {
  background-image: url(https://images.unsplash.com/photo-1454641350786-bc31a1997ba9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
}
.panel3 {
  background-image: url(https://images.unsplash.com/photo-1536782896453-61d09f3aaf3e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80);
}
.panel4 {
  background-image: url(https://images.unsplash.com/photo-1568254183919-78a4f43a2877?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
}
.panel5 {
  background-image: url(https://images.unsplash.com/photo-1581939728774-fb9ccdad154f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=800);
}

#indexLogo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 240px;
  background: rgb(167, 95, 74);
  border-radius: 15px;
}

#jumbotron {
  height: 280px;
  width: 380px;
  margin-top: -140px;
  margin-left: -190px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
}

.text {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "Abril Fatface", cursive, Sans-Serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

#cookie {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Satisfy", cursive;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.icons {
  position: absolute;
  top: 82%;
  left: 27%;
}

.icons img{
  width: 40px;
  height: 40px;
}

#landingBtn {
  height: 30px;
  width: 140px;
  color: white;
  font-size: 20px;
  text-align: center;
  transition: 1s;
  position: absolute;
  margin-top: 15px;
  left: 30%;
  padding-top: 5px;
  background: transparent rgba(0, 0, 0, 0.8);
  border: 1px solid white;
}

.topRight {
  position: absolute;
  top: 0%;
  left: 70%;
}

.topLeft {
  position: absolute;
  top: -73%;
  left: -97%;
}

.bottomRight {
  position: absolute;
  top: 59%;
  left: 69.5%;
}

.bottomLeft {
  position: absolute;
  top: -30%;
  left: -82%;
}

#attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -120px;
}

/*
***********************
-----------------------
INDEX PAGE STYLE ENDS
-----------------------
***********************
*/