@media screen and (min-width: 770px) {
    /* 
    **********************
    ----------------------
    INDEX PAGE BEGINS HERE
    ----------------------
    **********************
    */
    .slide-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin: 12.5em auto;
        max-width: 750px;
        height: 600px;
        justify-content: space-around;
        overflow: hidden;
        border-bottom: 5px solid black;
      }
    
      #slides {
        width: 100%;
        height: 600px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        border: 5px solid black;
      }
    
      .slide {
        width: 100%;
        height: 100%;
        display: none;
        z-index: 1;
    
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
      }
    
      .showing {
        display: block;
        z-index: 2;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      .slide-container #prev,
      .slide-container #next {
        cursor: pointer;
        position: relative;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: all 0.6s ease;
        user-select: none;
      }
    
      .slide-container #prev {
        left: -22%;
        float: left;
      }
    
      .slide-container #next {
        right: -22%;
      }
    
      .slide:nth-of-type(1) {
        background-image: url("https://images.unsplash.com/photo-1582659042116-63f96b514135?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
      }
      .slide:nth-of-type(2) {
        background-image: url("https://images.unsplash.com/photo-1566217225167-ea65c6ccabb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
      }
      .slide:nth-of-type(3) {
        background-image: url("https://images.unsplash.com/photo-1499889808931-317a0255c0e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
      }
      .slide:nth-of-type(4) {
        background-image: url("https://images.unsplash.com/photo-1559490882-9f907ae78499?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80");
      }
      .slide:nth-of-type(5) {
        background-image: url("https://images.unsplash.com/photo-1572095755818-8fd546d228a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80");
      }

    /* 
    **********************
    ----------------------
    INDEX PAGE ENDS HERE
    ----------------------
    **********************
    */

    /* 
    **********************
    ----------------------
    ABOUT PAGE BEGINS HERE
    ----------------------
    **********************
    */   
  .aboutBackground {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.7);
    margin: 12em auto;
    padding: 0.75em 0.75em 0;
    padding-bottom: 30px;
    width: 90%;
    border-radius: 15px;
  }

  .aboutRight {
    width: 45%;
    text-align: center;
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
  }

  .middle {
    border-left: 5px solid black;
    margin-top: 15px;
  }

  .aboutLeft {
    width: 45%;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
  }

  .aboutImg {
    width: 63%;
    height: 41%;
    border: 5px solid black;
    margin: 10px;
  }

    /* 
    **********************
    ----------------------
    ABOUT PAGE ENDS HERE
    ----------------------
    **********************
    */

    /* 
    **********************
    ----------------------
    CONTACT PAGE BEGINS HERE
    ----------------------
    **********************
    */
    
    .contactBackground {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background: rgba(255, 255, 255, 0.7);
      margin: 12em auto;
      padding: 10px 10px 22px;
      width: 50%;
      height: auto;
      border-radius: 15px;
      box-shadow: inset 0 0 0 5px rgba(5, 5, 5, 0.4);
      border: 2px solid black;
    }
  
    .contactImg {
      display: flex;
      width: 100%;
      height: 450px;
      margin: 0;
    }
  
    .topofJumbo div {
      display: flex;
      justify-content: center;
    }
  
    .contactTextTop {
      position: absolute;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
    }

    .contactTextTop p {
      margin: 2px;
    }
  
    .contactBox {
      width: 45%;
      margin-top: 20px;
      box-shadow: inset 0 0 0 5px rgba(5, 5, 5, 0.4);
      border: 2px solid black;
      padding-bottom: 15px;
    }
  
    .questionText {
      margin-bottom: 10px;
    }
  
    .inputForm input {
      margin-bottom: 10px;
      width: 90%;
      height: 30px;
    }
  
    .inputForm textarea {
      height: 100px;
      width: 90%;
      font-family: arial;
    }

    textarea:focus::placeholder {
      color: transparent;
    }
  
    .inputForm {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      margin-left: 20px;
    }
  
    .centerBtn {
      margin-top: 7px;
      margin-right: 25px;
      display: flex;
      justify-content: center;
    }
  
    .contactBtn {
      height: 25px;
      width: 100px;
      color: black;
      background-color: rgba(5, 5, 5, 0.2);
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid black;
    }

    .contactHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .faqHeader {
      font-size: 23px;
      margin-top: 15px;
    }

    .faq p {
      margin: 0;
      margin-left: 15px;
      margin-bottom: 10px;
    }

    /* 
    **********************
    ----------------------
    CONTACT PAGE ENDS HERE
    ----------------------
    **********************
    */

    /* 
    ****************************************
    -----------------------------------------
    CAKES & COOKIES PRODUCT PAGE BEGINS HERE
    -----------------------------------------
    ****************************************
    */

    .productBackground {
      display: flex;
      flex-wrap: wrap;
      background: rgba(255, 255, 255, 0.7);
      margin: 12em auto;
      padding: 15px 15px 0;
      padding-bottom: 55px;
      width: 90%;
      justify-content: space-around;
      border-radius: 15px;
    }

    .title {
      justify-content: center;
      width: 100%;
    }
    
    .titleText {
      text-align: center;
      font-size: 54px;
      margin: 0;
      margin-bottom: 10px;
      color: rgb(28, 27, 23);
    }

    .titlePic {
      width: 60%;
      height: 1%;
    }
    
    .titleBorder {
      display: flex;
      justify-content: center;
    }
    
    .productContainer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 300px;
      text-align: center;
      margin: 15px;
    }
    
    .productPic {
      width: 100%;
      height: 64%;
      border-radius: 15px;
    }
    
    .productText {
      margin: 0;
      margin-top: 2px;
      margin-bottom: 5px;
      font-size: 18px;
    }
    
    .cakeSelect {
      height: 30px;
      width: 105px;
      background: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid black;
    }

    .addToCartBtn {
      height: 30px;
      width: 95%;
      color: black;
      font-size: 24px;
      border: 1px solid black;
      margin-left: 5px;
      margin-top: 15px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
    }

    .productAdded {
      display: flex;
      justify-content: center;
    }

    .productSuccess {
      display: none;
    }

    .successAdded {
      width: 35%;
      height: 60px;
      top: 150px;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      border-radius: 15px;
    }
    
    /* COOKIE PAGE BUTTONS*/

    .cookieAmount {
      height: 30px;
      width: 105px;
      background: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      text-align: center;
      border: 1px solid black;
      padding: 0;
      align-items: center;
      border-radius: 5px;
    }

    .qtyBtn {
      display: inline-block;
      font-size: 20px;
      height: 30px;
      width: 30px;
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid black;
      border-radius: 5px;
    }

    /* 
    *****************************************
    -----------------------------------------
    CAKES & COOKIES PRODUCT PAGE ENDS HERE
    -----------------------------------------
     ****************************************
    */

        /* 
    *********************
    ---------------------
    CART PAGE BEGINS HERE
    ---------------------
     ********************
    */
    .background {
      display: flex;
      flex-wrap: wrap;
      background: rgba(255, 255, 255, 0.7);
      margin: 12em auto;
      padding: 10px 10px 30px;
      width: 55%;
      border-radius: 15px;
    }
  
    .cartHeader {
      text-align: center;
      width: 100%;
      border-bottom: 2px solid gray;
    }
  
    .topOfCart {
      display: flex;
      width: 100%;
      height: 55px;
      border-bottom: 4px solid black;
    }
  
    .leftSide {
      display: flex;
      width: 60%;
    }
  
    .rightSide {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 68%;
    }
  
    .fullProductsContainer {
      display: flex;
      flex-direction: column;
    }
  
    .fullContainer {
      height: 40%;
      padding-bottom: 40px;
      width: 100%;
      margin-top: 30px;
      margin-left: 0px;
      background-color: rgba(150, 150, 150, 0.4);
    }
  
    .leftCart {
      float: left;
      width: 35%;
      margin-top: 10px;
    }
  
    .product {
      display: flex;
    }

    .cartImg {
      max-width: 40%; 
      margin-left: 10px;
      margin-right: 7px;
    }

    .rightCart {
      float: right;
      width: 54%;
      margin-top: 10px;
    }
  
    .productRight {
      display: flex;
      justify-content: space-between;
    }
  
    .price {
      margin-left: 12px;
    }
  
    .totalRight {
      margin-right: 37px;
    }
  
    .cakeSize {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 50px;
      margin: 0;
      background: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      margin-top: 10px;
      border: 1px solid black;
      border-radius: 5px;
    }
  
    .deleteBtn {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      cursor: pointer;
    }
  
    .amount {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .subTotal {
      display: flex;
      font-size: 25px;
    }
  
    .checkoutBtn {
      height: 25px;
      width: 145px;
      color: black;
      text-align: center;
      font-size: 20px;
      border: 1px solid black;
      border-radius: 5px;
      cursor: pointer;
    }


    /* COOKIE AMOUNT AND QUANTITY*/

    .productAmount {
      height: 30px;
      width: 50px;
      background: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      text-align: right;
      border: 1px solid black;
      padding: 0;
      margin-top: 10px;
      align-items: center;
      border-radius: 5px;
    }

    .quantityBtn {
      display: inline-block;
      font-size: 20px;
      height: 30px;
      width: 30px;
      margin-top: 10px;
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid black;
      border-radius: 5px;
      cursor: pointer;
    }
    /* 
    *******************
    -------------------
    CART PAGE ENDS HERE
    -------------------
     ******************
    */
  }

@media screen and (max-width: 769px) {
    /* 
    **********************
    ----------------------
    INDEX PAGE BEGINS HERE
    ----------------------
    **********************
    */

    .slide-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin: 5em auto;
        max-width: 450px;
        height: 450px;
        justify-content: space-around;
        overflow: hidden;
      }
    
      #slides {
        width: 100%;
        height: 285px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        border: 5px solid black;
      }
    
      .slide {
        width: 100%;
        height: 100%;
        display: none;
        z-index: 1;
    
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
      }
    
      .showing {
        display: block;
        z-index: 2;
      }
    
      .slide-container #prev,
      .slide-container #next {
        cursor: pointer;
        position: relative;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: all 0.6s ease;
        user-select: none;
      }
    
      .slide-container #prev {
        left: -22%;
        float: left;
      }
    
      .slide-container #next {
        right: -22%;
      }
    
      .slide:nth-of-type(1) {
        background-image: url("https://images.unsplash.com/photo-1582659042116-63f96b514135?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
      }
      .slide:nth-of-type(2) {
        background-image: url("https://images.unsplash.com/photo-1566217225167-ea65c6ccabb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");
      }
      .slide:nth-of-type(3) {
        background-image: url("https://images.unsplash.com/photo-1499889808931-317a0255c0e9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
      }
      .slide:nth-of-type(4) {
        background-image: url("https://images.unsplash.com/photo-1559490882-9f907ae78499?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80");
      }
      .slide:nth-of-type(5) {
        background-image: url("https://images.unsplash.com/photo-1572095755818-8fd546d228a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80");
      }

     /* 
    **********************
    ----------------------
    INDEX PAGE ENDS HERE
    ----------------------
    **********************
    */

    

    /* 
    **********************
    ----------------------
    ABOUT PAGE BEGINS HERE
    ----------------------
    **********************
    */

    .aboutBackground {
      display: flex;
      flex-wrap: wrap;
      background: rgba(255, 255, 255, 0.7);
      margin: 8em auto;
      padding: 0.5em 0.5em 0;
      padding-bottom: 10px;
      width: 85%;
      border-radius: 15px;
    }
  
    .aboutMobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: inset 0 0 0 5px rgba(5, 5, 5, 0.4);
      border: 2px solid black;
      margin: 10px;
    }
  
    .aboutText {
      margin: 10px;
    }
  
    .aboutImg {
      max-width: 60%;
      height: auto;
      margin: 10px;
      border: 3px solid black;
    }

    /* 
    **********************
    ----------------------
    ABOUT PAGE ENDS HERE
    ----------------------
    **********************
    */

    /* 
    **********************
    ----------------------
    CONTACT PAGE BEGINS HERE
    ----------------------
    **********************
    */

    .contactBackground {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: rgba(255, 255, 255, 0.7);
      box-shadow: inset 0 0 0 5px rgba(5, 5, 5, 0.4);
      margin: 8em auto;
      padding: 5px 5px 25px;
      width: 80%;
      border-radius: 15px;
      border: 2px solid black;
    }

    .contactBox {
      width: 85%;
      display: flex;
      align-items: center;
      margin-top: 20px;
      box-shadow: inset 0 0 0 5px rgba(5, 5, 5, 0.4);
      border: 2px solid black;
      padding-bottom: 15px;
    }

    .contactImg {
      display: flex;
      width: 100%;
    }
  
    .topofJumbo div {
      display: flex;
      justify-content: center;
    }
  
    .contactTextTop {
      position: absolute;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      text-shadow: 2px 2px gray;
    }

    .contactTextTop p {
      margin: 0;
      margin-top: 3px;
    }
    
    .questionText {
      margin-bottom: 10px;
      font-size: 14px;
    }
  
    .inputForm input {
      margin-bottom: 10px;
      width: 90%;
      height: 20px;
      font-size: 11px;
    }
  
    .inputForm textarea {
      height: 70px;
      width: 90.4%;
      font-family: arial;
      font-size: 11px;
    }
  
    .inputForm {
      margin-left: 20px;
      margin-top: 15px;
    }
  
    .centerBtn {
      margin-top: 5px;
      margin-right: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .contactBtn {
      height: 25px;
      width: 80px;
      color: black;
      background-color: rgba(5, 5, 5, 0.2);
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid black;
    }
  
    .faqCenter {
      width: 100%;
    }
  
    .faqHeader {
      font-size: 23px;
      margin-top: 15px;
      text-align: center;
    }

    .faq {
      margin-left: 35px;
    }

    .faq p {
      margin: 0;
      margin-left: 10px;
      margin-bottom: 10px;
    }

    /* 
    **********************
    ----------------------
    CONTACT PAGE ENDS HERE
    ----------------------
    **********************
    */

     /* 
    ****************************************
    -----------------------------------------
    CAKES & COOKIES PRODUCT PAGE BEGINS HERE
    -----------------------------------------
    ****************************************
    */

    .productBackground {
      display: flex;
      flex-wrap: wrap;
      background: rgba(255, 255, 255, 0.7);
      margin: 12em auto;
      padding: 15px 15px 0;
      padding-bottom: 55px;
      width: 83%;
      justify-content: space-around;
      border-radius: 15px;
    }
    
    .titleText {
      text-align: center;
      font-size: 54px;
      margin-bottom: 10px;
    }

    .titlePic {
      max-width: 100%;
    }
    
    .productContainer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 160px;
      text-align: center;
      margin: 15px;
    }
    
    .productPic {
      width: 100%;
      border-radius: 15px;
    }
    
    .productText {
      margin: 0;
      margin-top: 2px;
      margin-bottom: 5px;
      font-size: 18px;
    }
    
    .cakeSelect {
      height: 30px;
      width: 105px;
      background: rgba(255, 255, 255, 0.7);
      font-size: 15px;
      border-radius: 5px;
      border: 1px solid black;
    }

    .addToCartBtn {
      height: 20px;
      width: 95%;;
      color: black;
      font-size: 15px;
      font-family: arial;
      border: 1px solid black;
      margin-left: 5px;
      margin-top: 8px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
    }
    
    /* COOKIE PAGE BUTTONS*/

    .cookieAmount {
      height: 30px;
      width: 60px;
      background: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      text-align: center;
      border: 1px solid black;
      padding: 0;
      align-items: center;
      border-radius: 5px;
    }

    .qtyBtn {
      display: inline-block;
      font-size: 20px;
      height: 30px;
      width: 30px;
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid black;
      border-radius: 5px;
    }

    /* 
    *****************************************
    -----------------------------------------
    CAKES & COOKIES PRODUCT PAGE ENDS HERE
    -----------------------------------------
     ****************************************
    */

    /* 
    *********************
    ---------------------
    CART PAGE BEGINS HERE
    ---------------------
     ********************
    */

    .background {
      flex-wrap: wrap;
      display: flex;
      margin-top: 0;
      background: rgba(255, 255, 255, 0.7);
      padding: 10px 10px 15px;
      margin: 9em auto;
      width: 85%;
      border-radius: 15px;
    }
  
  .shoppingCart {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid gray;
      font-size: 22px;
    }

  
    .fullProductsContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .fullContainer {
      width: 100%;
      padding-bottom: 10px;
      margin-top: 15px;
      margin-left: 0;
      background-color: rgba(150, 150, 150, 0.4);
    }

    .cartHeader {
      width: 100%;
    }
  
    .product {
      height: 100%;
      display: flex;
      margin-left: 15px;
      margin-top: 10px;
    }
  
    .cartImg {
      display: flex;
      width: 30%;
      margin-right: 7px;
    }
  
    .cartBtn {
      float: left;
      margin-left: 16px;
      width: 33%;
    }

    .deleteBtn {
      display: flex;
      margin-top: 5px;
      cursor: pointer;
    }
  
    .cakeSize {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 40px;
      margin: 0;
      background: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 5px;
      border: 1px solid black;
      border-radius: 5px;
    }
  
    .totalRight {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
    }
  
    .amount {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .subTotal {
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    .checkoutBtn {
      height: 25px;
      width: 145px;
      color: black;
      text-align: center;
      margin-top: 5px;
      font-size: 20px;
      border: 1px solid black;
      cursor: pointer;
    }
  
    .price {
      display: none;
    }
  
    .topOfCart {
      display: none;
    }
    

    /* COOKIE AMOUNT AND QUANTITY*/

    .productAmount {
      height: 25px;
      width: 40px;
      background: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      text-align: right;
      border: 1px solid black;
      padding: 0;
      margin-top: 10px;
      align-items: center;
      border-radius: 5px;
    }

    .quantityBtn {
      font-size: 18px;
      height: 25px;
      width: 25px;
      border: none;
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid black;
      padding: 0;
      align-items: center;
      border-radius: 5px;
      cursor: pointer;
    }
    /* 
    *******************
    -------------------
    CART PAGE ENDS HERE
    -------------------
     ******************
    */
}


a {
  text-decoration: none;
  color: inherit;
}

footer {
  flex-basis: auto;
  flex-grow: 0;
  bottom: 0;
  flex-shrink: 0;
  padding: 5px;
  text-align: center;
}

html {
  height: 100%;
  background-image: url(../pictures/backgroundImg.jpg);
  background-size: cover;
  background-repeat: repeat;
}

/*
********************************
--------------------------------
HEADER AND FOOTER STYLES BEGINS
--------------------------------
********************************
*/
@media screen and (min-width: 770px) {
  .p-menu1 {
    display: none;
  }

  .container {
    padding: 11px;
  }

  nav {
    top: 6%;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    height: 50px;
    width: 100%;
    z-index: 1;
  }
  
  .navLinks {
    display: flex;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    height: 25px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 22px;
    border: 1px solid white;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .searchInput {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
  }

 .container ::placeholder { 
    color: white;
  }

  input:focus::placeholder {
    color: transparent;
  }

  #logo {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 100%;
    background: rgb(167, 95, 74);
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
  
  .logo {
    width: 1800px;
    height: 145px;
  }
  
  .btn {
    height: 25px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    border: 1px solid white;
  }
}

@media screen and (max-width: 769px) {
  .logo {
    width: 100px;
    height: 145px;
    display: block;
  }

  #logo {
    position: fixed;
    top: 1%;
    left: 35%;
    max-width: 170px;
    min-width: 150px;
    background: rgb(167, 95, 74);
    z-index: 1;
  }

  nav {
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    height: 65px;
    width: 100%;
  }

  .container {
    display: none;
  }
  .p-menu1 {
    height: 100%;
  }

  /* Hamburger */
  .hamburger1 {
    height: 45px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .hamburger1 div {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #toggle1 {
    display: none;
  }

  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
  }

  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
  }

  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  #toggle1:checked ~ .menu1 {
    height: 235px;
    width: 30%;
    margin-top: 65px;
  }

  /* Menu */
  .menu1 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .searchInput {
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    height: 20px;
  }

  .link1 {
    display: block;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    padding: 0;
    font-size: 20px;
  }

  .link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .cartIcon {
    margin: 10px;
    position: fixed;
    top: 1%;
    left: 90%;
    z-index: 2;
  }

  .mobileCart {
    margin-top: 10px;
    color: white;
  }
}
/*
********************************
--------------------------------
HEADER AND FOOTER STYLES ENDS
--------------------------------
********************************
*/
