<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
  name="description"           
  content="A bakery based in Philippines with products with heritage in Sweden but also Philippines. Small family company">
    <title>Cookie Bakery</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
  </head>
  <body>


    <div class="content">
      <div class="productBackground">
        <div class="title">
          <h1 class="titleText">CAKES</h1>
          <div class="titleBorder">
            <img src="../pictures/cakesBorder.png" class="titlePic" alt="ProductPicture" />
          </div>
        </div>

        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="ProductPicture" />
          <p class="productText productTitle">Cocktail Float</p>
          <p class="productText">₱<span class="productPrice">39</span></p>
          <select class="cakeSelect">
            <option value="0">Select Size</option>
            <option value='4"'>4"</option>
            <option value='6"'>6"</option>
            <option value='10"'>10"</option>
            <option value='14"'>14"</option>
            <option value='16"'>16"</option>
          </select>
          <div class="addToCartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="ProductPicture" />
          <p class="productText productTitle">All About Chocolate</p>
          <p class="productText">₱<span class="productPrice">39</span></p>
          <select class="cakeSelect">
            <option value="0">Select Size</option>
            <option value='4"'>4"</option>
            <option value='6"'>6"</option>
            <option value='10"'>10"</option>
            <option value='14"'>14"</option>
            <option value='16"'>16"</option>
          </select>
          <div class="addToCartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="ProductPicture" />
          <p class="productText productTitle">Caramel</p>
          <p class="productText">₱<span class="productPrice">39</span></p>
          <select class="cakeSelect">
            <option value="0">Select Size</option>
            <option value='4"'>4"</option>
            <option value='6"'>6"</option>
            <option value='10"'>10"</option>
            <option value='14"'>14"</option>
            <option value='16"'>16"</option>
          </select>
          <div class="addToCartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="ProductPicture" />
          <p class="productText productTitle">Chocolate</p>
          <p class="productText">₱<span class="productPrice">39</span></p>
          <select class="cakeSelect">
            <option value="0">Select Size</option>
            <option value='4"'>4"</option>
            <option value='6"'>6"</option>
            <option value='10"'>10"</option>
            <option value='14"'>14"</option>
            <option value='16"'>16"</option>
          </select>
          <div class="addToCartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="ProductPicture" />
          <p class="productText productTitle">Chocolate Cake</p>
          <p class="productText">₱<span class="productPrice">39</span></p>
          <select class="cakeSelect">
            <option value="0">Select Size</option>
            <option value='4"'>4"</option>
            <option value='6"'>6"</option>
            <option value='10"'>10"</option>
            <option value='14"'>14"</option>
            <option value='16"'>16"</option>
          </select>
          <div class="addToCartBtn">Add to cart</div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <a href="https://www.vecteezy.com/free-vector/ornament"
        >Ornament Vectors by Vecteezy</a>
    </footer>

    <script src="../script/headerFooter.js"></script>
    <script src="../script/cakes.js"></script>
  </body>
</html>
