<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="../style/cart.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="navLinks">
          <a href="landingpage.html" class="btn homeBtns">HOME</a>
          <a href="about.html" class="btn aboutBtns">ABOUT</a>
          <a href="contact.html" class="btn contactBtns">CONTACT</a>

          <div class="backgroundLogo"></div>
          <div class="logo">
            <object
              data="../pictures/svgLogo.svg"
              id="logo"
              class="homeBtns"
              type="image/svg+xml"
            ></object>
          </div>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Products</a>
            <div class="dropdown-content">
              <a href="cakes.html" class="cakesBtns" href="#">CAKES</a>
              <a href="cookies.html" class="cookiesBtns" href="#">COOKIES</a>
            </div>
          </li>
          <a id="searchBtn" class="btn">SEARCH</a>
          <a href="cart.html" id="cartBtn" class="btn">CART</a>
        </div>
      </div>
    </nav>

    <!-- HAMBURGER  -->
    <section class="p-menu1">
      <nav id="navbar" class="navigation" role="navigation">
        <input id="toggle1" type="checkbox" />
        <label class="hamburger1" for="toggle1">
          <div class="top"></div>
          <div class="meat"></div>
          <div class="bottom"></div>
        </label>

        <nav class="menu1">
          <a class="link1 homeBtns">HOME</a>
          <a class="link1 aboutBtns">ABOUT</a>
          <a class="link1 contactBtns">CONTACT</a>
          <a class="link1 cakesBtns">CAKES</a>
          <a class="link1 cookiesBtns">COOKIES</a>
        </nav>
      </nav>
      <div class="logo">
        <object
          data="../pictures/svgLogo.svg"
          id="logo"
          type="image/svg+xml"
        ></object>
      </div>
    </section>

    <!-- HAMBURGER  -->
    <section class="p-menu1">
      <nav id="navbar" class="navigation" role="navigation">
        <input id="toggle1" type="checkbox" />
        <label class="hamburger1" for="toggle1">
          <div class="top"></div>
          <div class="meat"></div>
          <div class="bottom"></div>
        </label>

        <nav class="menu1">
          <div class="link1"><span>HOME</span></div>
          <div class="link1"><span>ABOUT US</span></div>
          <div class="link1"><span>CONTACT</span></div>
          <div class="link1"><span>CAKES</span></div>
          <div class="link1"><span>COOKIES</span></div>
        </nav>
      </nav>
      <div class="logo">
        <object
          data="../pictures/svgLogo.svg"
          id="logo"
          type="image/svg+xml"
        ></object>
      </div>
    </section>

    <div class="background">
      <div class="cartHeader">
        <h1>Shopping Cart</h1>
      </div>
      <div class="topOfCart">
        <div class="leftSide">
          <p>PRODUCT</p>
        </div>
        <div class="rightSide">
          <p>PRICE</p>
          <p>QTY/SIZE</p>
          <p>TOTAL</p>
        </div>
      </div>

      <div class="fullProductsContainer"></div>
    </div>

    <footer class="footer">
      <a href="https://www.vecteezy.com/free-vector/logo">Logo by Vecteezy</a>
    </footer>

    <script src="../script/cart.js"></script>
  </body>
</html>
