<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookie Bakery</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" href="../style/headerFooter.css" />
  </head>
  <body>

    <div class="contactBackground">
      <div class="topofJumbo">
        <div>
          <div class="contactTextTop">
            <h1>OPEN HOURS</h1>
            <p>Mon-Fri 8AM-8PM</p>
            <p>Sat-Sun 10AM-8PM</p>
          </div>
          <img
            src="https://images.unsplash.com/photo-1573050435329-27ff3181380c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
            class="contactImg"
          />
        </div>
      </div>
      <div class="contactBox">
        <div id="contactForm">
          <div class="inputForm">
            <p class="questionText">
              Feel free to ask us any question/s or for help
            </p>
            <input
              type="text"
              name="name"
              placeholder="Enter Your Name"
              class="fieldCheck contactName"
              required
            />
            <input
              type="text"
              name="email"
              placeholder="Enter Your E-Mail Address"
              class="fieldCheck contactMail"
              required
            />
            <textarea
              name="message"
              maxlength="2000"
              placeholder="Enter Your Question/s"
              class="fieldCheck"
              required
            ></textarea>
            <div class="centerBtn">
            <a href="#" class="contactBtn">Submit</a>
          </div>
          </div>
        </div>
      </div>

      <div class="contactBox">
        <div class="faqCenter">
          <div class="contactHeader">
            <h1 class="faqHeader">FAQ</h1>
          </div>
          <ul class="faq">
            <li>xxxxxxxxxxxxxxx</li>
            <p>A. xxxxxxxxxxxxx</p>
            <li>xxxxxxxxxxxxxxx</li>
            <p>A. xxxxxxxxxxxxx</p>
            <li>xxxxxxxxxxxxxxx</li>
            <p>A. xxxxxxxxxxxxx</p>
            <li>xxxxxxxxxxxxxxx</li>
            <p>A. xxxxxxxxxxxxx</p>
          </ul>
        </div>
      </div>
    </div>

    <script src="../script/header.js"></script>
  </body>
</html>
