@ -0,0 +1,134 @@
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookie Bakery</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../style/products.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="navLinks">
          <a href="landingpage.html" class="btn homeBtns">HOME</a>
          <a href="about.html" class="btn aboutBtns">ABOUT</a>
          <a href="contact.html" class="btn contactBtns">CONTACT</a>

          <div class="backgroundLogo"></div>
          <div class="logo">
            <object
              data="../pictures/svgLogo.svg"
              id="logo"
              class="homeBtns"
              type="image/svg+xml"
            >
              <a href="../landingpage.html"></a>
            </object>
          </div>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Products</a>
            <div class="dropdown-content">
              <a href="cakes.html" class="cakesBtns" href="#">CAKES</a>
              <a href="cookies.html" class="cookiesBtns" href="#">COOKIES</a>
            </div>
          </li>
          <a id="searchBtn" class="btn">SEARCH</a>
          <a href="cart.html" id="cartBtn" class="btn">CART<span></span></a>
        </div>
      </div>
    </nav>

    <!-- HAMBURGER  -->
    <section class="p-menu1">
      <nav id="navbar" class="navigation" role="navigation">
        <input id="toggle1" type="checkbox" />
        <label class="hamburger1" for="toggle1">
          <div class="top"></div>
          <div class="meat"></div>
          <div class="bottom"></div>
        </label>

        <nav class="menu1">
          <a class="link1 homeBtns">HOME</a>
          <a class="link1 aboutBtns">ABOUT</a>
          <a class="link1 contactBtns">CONTACT</a>
          <a class="link1 cakesBtns">CAKES</a>
          <a class="link1 cookiesBtns">COOKIES</a>
        </nav>
      </nav>
      <div class="logo">
        <a href="landingpage.html"
          ><object
            data="../pictures/svgLogo.svg"
            id="logo"
            type="image/svg+xml"
          ></object
        ></a>
      </div>
    </section>

    <div class="content">
      <div class="productBackground">
        <div class="title">
          <p class="titleText">COOKIES</p>
          <div class="titleBorder">
            <img src="../pictures/cakesBorder.png" class="titlePic" />
          </div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" />
          <p class="productText productTitle">Chocolate Caramel</p>
          <p class="productText">₱<span class="productPrice">29</span></p>
          <div id="evenBtns">
            <button type="button" class="quantityBtn dec" value="-">-</button>
            <input
              type="text"
              name="quantity"
              value="1"
              class="productSelect number"
            />
            <button type="button" class="quantityBtn inc" value="+">+</button>
          </div>
          <div class="productBtn cartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" />
          <p class="productText productTitle">Chocolate Chip Cookies</p>
          <p class="productText">₱<span class="productPrice">39</span></p>
          <div id="evenBtns">
            <button type="button" class="quantityBtn dec" value="-">-</button>
            <input
              type="text"
              name="quantity"
              value="1"
              class="productSelect number"
            />
            <button type="button" class="quantityBtn inc" value="+">+</button>
          </div>
          <div class="productBtn cartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" />
          <p class="productText productTitle">Chocolate Ball</p>
          <p class="productText">₱<span class="productPrice">19</span></p>
          <div id="evenBtns">
            <button class="quantityBtn dec">-</button>
            <input
              type="text"
              name="quantity"
              value="1"
              class="productSelect number"
            />
            <button class="quantityBtn inc">+</button>
          </div>
          <div class="productBtn cartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" />
          <p class="productText productTitle">Chocolate Cookies</p>
          <p class="productText">₱<span class="productPrice">35</span></p>
          <div id="evenBtns">
            <button class="quantityBtn dec">-</button>
            <input
              type="text"
              name="quantity"
              value="1"
              class="productSelect number"
            />
            <button class="quantityBtn inc">+</button>
          </div>
          <div class="productBtn cartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" />
          <p class="productText productTitle">Mango Float</p>
          <p class="productText">₱<span class="productPrice">50</span></p>
          <div id="evenBtns">
            <button class="quantityBtn dec">-</button>
            <input
              type="text"
              name="quantity"
              value="1"
              class="productSelect number"
            />
            <button class="quantityBtn inc">+</button>
          </div>
          <div class="productBtn cartBtn">Add to cart</div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <a href="https://www.vecteezy.com/free-vector/logo">Logo by Vecteezy</a>
      <br />
      <a href="https://www.vecteezy.com/free-vector/ornament"
        >Ornament Vectors by Vecteezy</a
      >
    </footer>

    <script src="../script/cookies.js"></script>
  </body>
</html>
