<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
  name="description"           
  content="A bakery based in Philippines with products with heritage in Sweden but also Philippines. Small family company">
    <title>Cookie Bakery</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../style/main.css" />
  </head>
  <body>

    <div class="productAdded">
      <div class="productSuccess">The product has been added to your cart</div>
    </div>

    <div class="content">
      <div class="productBackground">
        <div class="title">
          <h1 class="titleText">COOKIES</h1>
          <div class="titleBorder">
            <img src="../pictures/cakesBorder.png" class="titlePic" alt="cakeBorder" />
          </div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="productPicture" />
          <p class="productText productTitle">Chocolate Caramel</p>
          <p class="productText">₱<span class="productPrice">29</span></p>
          <div class="evenBtns">
            <button type="button" class="qtyBtn dec" value="-">-</button>
            <label>
            <input
              type="text"
              name="quantity"
              value="1"
              class="cookieAmount number"
            />
          </label>
          <button type="button" class="inc qtyBtn" value="+">+</button>
          </div>
          <div class="addToCartBtn">Add to cart</div>
        </div>



        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="productPicture" />
          <p class="productText productTitle">Chocolate Ball</p>
          <p class="productText">₱<span class="productPrice">29</span></p>
          <div class="evenBtns">
            <button type="button" class="qtyBtn dec" value="-">-</button>
            <label>
            <input
              type="text"
              name="quantity"
              value="1"
              class="cookieAmount number"
            />
          </label>
            <button type="button" class="qtyBtn inc" value="+">+</button>
          </div>
          <div class="addToCartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="productPicture" />
          <p class="productText productTitle">Mango Float</p>
          <p class="productText">₱<span class="productPrice">29</span></p>
          <div class="evenBtns">
            <button type="button" class="qtyBtn dec" value="-">-</button>
            <label>
            <input
              type="text"
              name="quantity"
              value="1"
              class="cookieAmount number"
            />
          </label>
          <button type="button" class="qtyBtn inc" value="+">+</button>
          </div>
          <div class="addToCartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="productPicture" />
          <p class="productText productTitle">Chocolate Brownie</p>
          <p class="productText">₱<span class="productPrice">29</span></p>
          <div class="evenBtns">
            <button type="button" class="qtyBtn dec" value="-">-</button>
            <label>
            <input
              type="text"
              name="quantity"
              value="1"
              class="cookieAmount number"
            />
          </label>
          <button type="button" class="qtyBtn inc" value="+">+</button>
          </div>
          <div class="addToCartBtn">Add to cart</div>
        </div>
        <div class="productContainer">
          <img src="../pictures/productPic.jpg" class="productPic" alt="productPicture" />
          <p class="productText productTitle">Chocolate Cookie</p>
          <p class="productText">₱<span class="productPrice">29</span></p>
          <div class="evenBtns">
            <button type="button" class="qtyBtn dec" value="-">-</button>
            <label>
            <input
              type="text"
              name="quantity"
              value="1"
              class="cookieAmount number"
            />
          </label>
          <button type="button" class="qtyBtn inc" value="+">+</button>
          </div>
          <div class="addToCartBtn">Add to cart</div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <a href="https://www.vecteezy.com/free-vector/ornament"
        >Ornament Vectors by Vecteezy</a>
    </footer>
    <script src="../script/headerFooter.js"></script>
    <script src="../script/cookies.js"></script>
  </body>
</html>
