<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="../style/checkout.css" />
    <link rel="stylesheet" type="text/css" href="../style/headerFooter.css" />
  </head>
  <body>
    <div class="customerInfoBackground">
      <div class="orderSummaryMedia">
        <div class="mediaSummaryCenter">
          <div class="showOrder">
            <i class="fas fa-shopping-cart"></i>
            <p>Show order summary</p>
            <i class="fas fa-angle-down"></i>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
          </div>
        </div>
      </div>

      <div class="custInfoLeft">
        <div class="checkoutOrder">
          <a href="cart.html">Cart </a>
          <i class="fas fa-chevron-right fa-sm"></i>
          <a href="custInfo.html">Information </a>
          <i class="fas fa-chevron-right fa-sm"></i>
          <a href="shipping.html">Shipping </a>
          <i class="fas fa-chevron-right fa-sm"></i>
          <a href="payment.html">Payment</a>
        </div>

        <div class="customerForm">
          <div class="formCentered">
          <h1>Contact Information</h1>
          <div>
            <div></div>
            <input
              type="email"
              placeholder="E-Mail Address"
              class="fullSizeContact fullSizeMobile"
            />
          </div>
            <div class="emailRequestBox">
              <input type="checkbox" /><label class="emailRequest textSize"
                >Keep me up to date on news and exclusive offers</label>
            </div>
          </div>

          <h1>Shipping Address</h1>
          <div class="centerInput">
            <div>
              <input type="text" placeholder="First Name" class="halfSize fullSizeMobile textSize" />
              <input type="text" placeholder="Last Name" class="halfSize fullSizeMobile textSize" />
            </div>
            <input type="tel" placeholder="Phone Number" class="fullSize fullSizeMobile textSize" />
            <input type="text" placeholder="Address" class="fullSize fullSizeMobile textSize" />
            <div>
              <input type="number" placeholder="Zipcode" class="halfSize fullSizeMobile textSize" />
              <input type="text" placeholder="City" class="halfSize fullSizeMobile textSize" />
            </div>
            <input type="text" placeholder="Region" class="fullSize fullSizeMobile textSize"/>
          </div>

            <div class="custInfoBtns">
              <button class="custInfoBtn">
                <a href="shipping.html">Continue to Shipping</a>
              </button>
              <a href="cart.html" class="custInfoReturn">Return To Cart</a>
            </div>
        </div>
      </div>

      <div class="orderSummaryRight">
        <div class="orderSummary">
          <div class="orderLeft">
            <img src="../pictures/productPic.jpg" class="summaryPic" />
            <p class="summaryText">Chocolate Caramel</p>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
          </div>
        </div>
        <div class="orderSummaryBorder"></div>
        <div class="orderSummaryColumn">
          <div class="orderLeftColumn">
            <p>Subtotal</p>
            <p>Shipping</p>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
            <p class="summaryPrice">Calculated at next step</p>
          </div>
        </div>
        <div class="orderSummaryBorder"></div>

        <div class="orderSummary">
          <div class="orderLeft">
            <p class="summaryTotal">Total</p>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
          </div>
        </div>
      </div>
    </div>

    <script src="../script/header.js"></script>
  </body>
</html>
