<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookie Bakery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="../style/main.css" />
  <link rel="stylesheet" type="text/css" href="../style/headerFooter.css" />
  
</head>

<body>

  <div class="slide-container">
    <a href="#" id="prev" title="Previous">&#10094</a>
    <a href="#" id="next" title="Next">&#10095</a>
    <ul id="slides">
      <li class="slide showing"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
      <li class="slide"></li>
    </ul>
  </div>

  <script src="../script/header.js"></script>
  <script src="../script/carousel.js"></script>
</body>

</html>