<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
    <link rel="stylesheet" type="text/css" href="../style/checkout.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="../style/checkout.css" />
    <link rel="stylesheet" type="text/css" href="../style/headerFooter.css" />
  </head>
  <body>

    <div class="orderConfBackground">
      <div class="orderSummaryMedia">
        <div class="mediaSummaryCenter">
          <div class="showOrder">
            <i class="fas fa-shopping-cart"></i>
            <p>Show order summary</p>
            <i class="fas fa-angle-down"></i>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
          </div>
        </div>
      </div>

      <div class="orderConfLeft">
        <div class="centeredBoxes">
        <div class="orderConfText">
          <h1 class="orderConfTitle">
            Thank you Tobias. Your order #1234 is now confirmed
          </h1>
          <p class="orderConf">
            You will receive an confirmation email shortly
          </p>
        </div>

        <div class="orderUpdate">
          <h1 class="orderConfTitle">Order Updates</h1>
          <p class="orderConf">
            You'll get shipping and delivery updates by email
          </p>
        </div>

        <div class="customerContainer">
          <div class="customerLeft">
            <div class="customerTitles">
              <div class="customerInfoTitle">
                <h1 class="orderConfTitle CustInfoContainer">Customer Information</h1>
              </div>
              <p class="customerInformation">Contact Information</p>
              <p>123456789@gmail.com</p>
            </div>

            <div>
              <p class="customerInformation">Shipping Address</p>
              <p>Test Test</p>
              <p>23534 Sweden</p>
              <p>2414 Gothenburg</p>
              <p>Sweden</p>
              <p>+12 3456 4634</p>
              <div class="shipMethod">
                <p class="customerInformation">Shipping Method</p>
                <p>Standard Delivery - Free</p>
              </div>
            </div>
          </div>

          <div class="customerRight">
            <div class="customerTitles">
              <p class="customerInformation">Payment Method</p>
              <p>Cash on Delivery (COD)</p>

            <p class="customerInformation">Billing Address</p>
            <p>Test Test</p>
            <p>Your Address Here</p>
            <p>23423 Gothenburg</p>
            <p>Sweden</p>
            <p>+12 3453 3425</p>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="orderSummaryRight">
        <div class="orderSummary">
          <div class="orderLeft">
            <img src="../pictures/productPic.jpg" class="summaryPic" />
            <p class="summaryText">Chocolate Caramel</p>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
          </div>
        </div>
        <div class="orderSummaryBorder"></div>
        <div class="orderSummaryColumn">
          <div class="orderLeftColumn">
            <p>Subtotal</p>
            <p>Shipping</p>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
            <p class="summaryPrice">Calculated at next step</p>
          </div>
        </div>
        <div class="orderSummaryBorder"></div>

        <div class="orderSummary">
          <div class="orderLeft">
            <p class="summaryTotal">Total</p>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
          </div>
        </div>
      </div>
    </div>

    <script src="../script/headerFooter.js"></script>
  </body>
</html>
