<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
    name="description"           
    content="A bakery based in Philippines with products with heritage in Sweden but also Philippines. Small family company">
    <title>Payment</title>
    <link rel="stylesheet" type="text/css" href="../style/checkout.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../style/checkout.css" />
  </head>
  <body>

    <div class="paymentBackground">
      <div class="orderSummaryMedia">

      </div>

      <div class="paymentLeft">
        <div class="checkoutOrder">
          <a href="cart.html">Cart </a>
          <i class="fas fa-chevron-right fa-xs"></i>
          <a href="custInfo.html">Information </a>
          <i class="fas fa-chevron-right fa-xs"></i>
          <a href="shipping.html">Shipping </a>
          <i class="fas fa-chevron-right fa-xs"></i>
          <a href="payment.html">Payment</a>
        </div>

        <div class="paymentCentered">
        <div class="paymentInfo">
          <div>
            <div class="paymentBox">
              <p class="shippingInfo">Contact</p>
              <p>Your E-Mail Address</p>
              <a href="#" class="paymentChangeLink">Change</a>
            </div>
            <div class="paymentBorder"></div>
            <div class="paymentBox">
              <p class="shippingInfo">Ship To</p>
              <p class="shipToAddress">Your Adress Is Shown Here</p>
              <a href="#" class="paymentChangeLink">Change</a>
            </div>
            <div class="paymentBorder"></div>
            <div class="paymentBox">
              <p class="paymentText">Standard Delivery</p>
              <p>Free</p>
            </div>
          </div>
        </div>

          <h1 class="paymentHeader">Payment</h1>
          <div class="paymentDeliveryOptions">
            <div class="paymentOption">
              <label class="paymentText"
                ><input type="checkbox" />Paypal</label
              >
            </div>
            <div class="paymentBorder"></div>
            <div class="paymentOption">
              <label class="paymentText"
                ><input type="checkbox" />Cash on Delivery (COD)</label
              >
            </div>
          </div>

          <h1 class="paymentHeader">Billing Address</h1>
          <div class="paymentDeliveryOptions">
            <div class="paymentOption">
              <label class="paymentText"
                ><input type="checkbox" />Same as shipping address</label>
            </div>
            <div class="paymentBorder"></div>
            <div class="paymentOption">
              <label class="paymentText"
                ><input type="checkbox" />Use a different billing address</label>
            </div>
          </div>

          <div class="paymentBtns">
            <button class="paymentBtn">
              <a href="orderConfirmation.html">Complete Order</a>
            </button>
            <a href="shipping.html" class="returnToShipping">Return To Shipping</a>
          </div>
      </div>
    </div>

      <div class="orderSummaryRight">

      </div>

    <script src="../script/headerFooter.js"></script>
    <script src="../script/checkout.js"></script>
  </body>
</html>
