<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
    name="description"           
    content="A bakery based in Philippines with products with heritage in Sweden but also Philippines. Small family company">

    <title>Shipment</title>
    <link rel="stylesheet" type="text/css" href="../style/checkout.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
  </head>
  <body>

    <div class="shippingBackground">
      <div class="orderSummaryMedia">

      </div>

      <div class="shippingLeft">
        <div class="checkoutOrder">
          <a href="cart.html">Cart </a>
          <i class="fas fa-chevron-right fa-sm"></i>
          <a href="custInfo.html">Information </a>
          <i class="fas fa-chevron-right fa-sm"></i>
          <a href="shipping.html">Shipping</a>
          <i class="fas fa-chevron-right fa-sm"></i>
          <a href="payment.html">Payment</a>
        </div>

      <div class="shippingCentered">
        <div class="shippingCustInfo">
          <div>
            <div class="shippingBox">
              <p class="shippingInfo">Contact</p>
              <p>123456@gmail.com</p>
              <a href="#" class="shippingChangeLink">Change</a>
            </div>
            <div class="shippingBorder"></div>
            <div class="shippingBox">
              <p class="shippingInfo">Ship To</p>
              <p class="shipToAddress">Your Adress is Shown Here</p>
              <a href="#" class="shippingChangeLink">Change</a>
            </div>
          </div>
        </div>

          <h1 class="shippingHeader">Shipping Method</h1>

          <div class="deliveryOptions">
            <div>
              <div class="shippingBox">
                <label class="shippingText"
                  ><input type="checkbox" /> Standard Delivery</label
                >
                <p>Free</p>
              </div>
              <div class="shippingBorder"></div>
              <div class="shippingBox">
                <label class="shippingText"
                  ><input type="checkbox" /> Express Delivery</label
                >
                <p>50PHP</p>
              </div>
          </div>
        </div>

          <div class="shippingBtns">
            <button class="shipmentBtn">
              <a href="payment.html">Continue to Payment</a>
            </button>
            <a href="custInfo.html" class="returnInfo">Return To Information</a>
          </div>
        </div>
      </div>

      <div class="orderSummaryRight">
        <div class="orderSummary">
          <div class="orderLeft">
            <img src="../pictures/productPic.jpg" class="summaryPic" alt="productPicture"/>
            <p class="summaryText">Chocolate Caramel</p>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
          </div>
        </div>
        <div class="orderSummaryBorder"></div>
        <div class="orderSummaryColumn">
          <div class="orderLeftColumn">
            <p>Subtotal</p>
            <p>Shipping</p>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
            <p class="summaryPrice">Calculated at next step</p>
          </div>
        </div>
        <div class="orderSummaryBorder"></div>

        <div class="orderSummary">
          <div class="orderLeft">
            <p class="summaryTotal">Total</p>
          </div>
          <div class="orderRight">
            <p class="summaryPrice">₱99</p>
          </div>
        </div>
      </div>
    </div>

    <script src="../script/headerFooter.js"></script>
    <script src="../script/checkout.js"></script>
  </body>
</html>
