<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="../style/main.css" />
  <link rel="stylesheet" type="text/css" href="../style/headerFooter.css" />
  </head>
  <body>

    <div class="policyBackground">
      <div class="textContainer">
        <h1>Shipping and Delivery Policy</h1>
        <p class="policyText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
          adipiscing diam donec adipiscing tristique risus. Bibendum enim
          facilisis gravida neque convallis a cras. Convallis aenean et tortor
          at risus viverra adipiscing at. Sed libero enim sed faucibus turpis in
          eu. Commodo viverra maecenas accumsan lacus vel. Quis eleifend quam
          adipiscing vitae proin. Posuere lorem ipsum dolor sit amet consectetur
          adipiscing. Diam sit amet nisl suscipit adipiscing bibendum est
          ultricies. Sit amet tellus cras adipiscing. Tincidunt dui ut ornare
          lectus sit amet est.
        </p>
        <p class="policyText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
          adipiscing diam donec adipiscing tristique risus. Bibendum enim
          facilisis gravida neque convallis a cras. Convallis aenean et tortor
          at risus viverra adipiscing at. Sed libero enim sed faucibus turpis in
          eu. Commodo viverra maecenas accumsan lacus vel. Quis eleifend quam
          adipiscing vitae proin. Posuere lorem ipsum dolor sit amet consectetur
          adipiscing. Diam sit amet nisl suscipit adipiscing bibendum est
          ultricies. Sit amet tellus cras adipiscing. Tincidunt dui ut ornare
          lectus sit amet est.
        </p>
        <p class="policyText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
          adipiscing diam donec adipiscing tristique risus. Bibendum enim
          facilisis gravida neque convallis a cras. Convallis aenean et tortor
          at risus viverra adipiscing at. Sed libero enim sed faucibus turpis in
          eu. Commodo viverra maecenas accumsan lacus vel. Quis eleifend quam
          adipiscing vitae proin. Posuere lorem ipsum dolor sit amet consectetur
          adipiscing. Diam sit amet nisl suscipit adipiscing bibendum est
          ultricies. Sit amet tellus cras adipiscing. Tincidunt dui ut ornare
          lectus sit amet est.
        </p>
        <p class="policyText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
          adipiscing diam donec adipiscing tristique risus. Bibendum enim
          facilisis gravida neque convallis a cras. Convallis aenean et tortor
          at risus viverra adipiscing at. Sed libero enim sed faucibus turpis in
          eu. Commodo viverra maecenas accumsan lacus vel. Quis eleifend quam
          adipiscing vitae proin. Posuere lorem ipsum dolor sit amet consectetur
          adipiscing. Diam sit amet nisl suscipit adipiscing bibendum est
          ultricies. Sit amet tellus cras adipiscing. Tincidunt dui ut ornare
          lectus sit amet est.
        </p>
        <p class="policyText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
          adipiscing diam donec adipiscing tristique risus. Bibendum enim
          facilisis gravida neque convallis a cras. Convallis aenean et tortor
          at risus viverra adipiscing at. Sed libero enim sed faucibus turpis in
          eu. Commodo viverra maecenas accumsan lacus vel. Quis eleifend quam
          adipiscing vitae proin. Posuere lorem ipsum dolor sit amet consectetur
          adipiscing. Diam sit amet nisl suscipit adipiscing bibendum est
          ultricies. Sit amet tellus cras adipiscing. Tincidunt dui ut ornare
          lectus sit amet est.
        </p>
        <p class="policyText">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed
          adipiscing diam donec adipiscing tristique risus. Bibendum enim
          facilisis gravida neque convallis a cras. Convallis aenean et tortor
          at risus viverra adipiscing at. Sed libero enim sed faucibus turpis in
          eu. Commodo viverra maecenas accumsan lacus vel. Quis eleifend quam
          adipiscing vitae proin. Posuere lorem ipsum dolor sit amet consectetur
          adipiscing. Diam sit amet nisl suscipit adipiscing bibendum est
          ultricies. Sit amet tellus cras adipiscing. Tincidunt dui ut ornare
          lectus sit amet est.
        </p>
      </div>
    </div>

    <script src="../script/headerFooter.js"></script>
  </body>
</html>
